<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
        <mat-toolbar class="sidenav--border-bottom">
            <ul class="list-unstyled mt-4">
                <li>
                    <a class="text-decoration-none text-reset" routerLink="/" routerLinkActive="active">COMPS</a>
                </li>
            </ul>
        </mat-toolbar>
        <mat-nav-list>
            <form [formGroup]="goalTeamForm" >
            <mat-form-field appearance="fill">
                <mat-label>Select Goal Team</mat-label>
                <mat-select [formControlName]="'goalTeam'">
                    <mat-option *ngFor="let goalTeam of goalTeams" [value]="goalTeam.id">
                        {{goalTeam.name}}
                    </mat-option>
                </mat-select>
                <!-- <mat-error *ngIf="stateFormControl.hasError('required')">State is required
                </mat-error> -->
            </mat-form-field>
            </form>
            <mat-form-field appearance="fill">
                <mat-label>Select Initiative</mat-label>
                <mat-select>
                    <mat-option *ngFor="let initiative of initiatives | async" [value]="initiative.name"
                        (click)="displayInitiativeData(initiative)">
                        {{initiative.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <div class="sidenav-menu-item" id="sidenav-menu-item-pathway">
                <a mat-list-item href="#">
                    <span class="w-50">Pathway</span>
                    <span><i class="fas fa-plus-circle ml-3"></i></span>
                </a>
                <div class="d-flex sidenav-menu-item__sub-item-group">
                    <a href="#" class="sidenav-menu-item__sub-item">test</a>
                    <a href="#" class="sidenav-menu-item__sub-item">test</a>
                    <a href="#" class="sidenav-menu-item__sub-item">test</a>
                </div>
            </div>
            <div class="sidenav-menu-item" id="sidenav-menu-item-outcome">
                <a mat-list-item href="#">
                    <span class="w-50 ">Outcome</span>
                    <span><i class="fas fa-plus-circle ml-3"></i></span>
                </a>
                <div class="d-flex sidenav-menu-item__sub-item-group">
                    <a href="#" class="sidenav-menu-item__sub-item">test <i class="fas fa-minus-circle ml-3"
                            (click)="deleteIndicator()"></i></a>
                    <a href="#" class="sidenav-menu-item__sub-item">test</a>
                    <a href="#" class="sidenav-menu-item__sub-item">test</a>
                </div>
            </div>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar class="topnav">
            <button type=" button " aria-label="Toggle sidenav " mat-icon-button (click)="drawer.toggle() "
                *ngIf="isHandset$ | async ">
                <mat-icon aria-label="Side nav toggle icon ">menu</mat-icon>
            </button>
            <span>INITIATIVE DASHBOARD SYSTEM</span>
        </mat-toolbar>
        <!-- Add Content Here -->
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>