.sidenav-container {
  height: 100%;
  background-color: white;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.topnav {
  background-color: white;
  border-bottom: solid 1.5px rgba(0, 0, 0, 0.2);
  border-left: none;
}

.sidenav--border-bottom {
  border-bottom: solid 1.5px rgba(0, 0, 0, 0.2);
}

.mat-drawer-side {
  border-right: solid 1.5px rgba(0, 0, 0, 0.2);
}

.sidenav-menu-item {
  border-bottom: 1px solid #8e8e8e;
}

#sidenav-menu-item-pathway {
  min-height: 65px;
  max-height: 157px;
}

#sidenav-menu-item-outcome {
  padding-top: 1rem;
  min-height: 81px;
  max-height: 173px;

}

.sidenav-menu-item__sub-item-group {
  flex-direction: column;
  margin-left: 25%;
}

.sidenav-menu-item__sub-item {
  margin-bottom: 1rem;
}
