<div class="ml-3 mt-2">
    <div *ngIf="indicatorId" class="indicator-form__heading">
        Edit {{ indicatorType }}
    </div>

    <div *ngIf="initiativeId" class="indicator-form__heading">
        Create {{ indicatorCreateFormType }}
    </div>

    <form [formGroup]="indicatorForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill" class="indicator-form-field--width">
            <mat-label>Statement</mat-label>
            <textarea matInput type="text" formControlName="statement"></textarea>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill" class="indicator-form-field--width">
            <mat-label>Description</mat-label>
            <textarea matInput type="text" formControlName="description"></textarea>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill" class="indicator-form-field--width">
            <mat-label>Label</mat-label>
            <input matInput type="text" formControlName="label">
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill" class="indicator-form-field--width">
            <mat-label>Units</mat-label>
            <input matInput type="text" formControlName="units">
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill" class="indicator-form-field--width">
            <mat-label>Data Source</mat-label>
            <input matInput type="text" formControlName="dataSource">
        </mat-form-field>
        <button mat-raised-button class="float-right mr-3" type="submit">Save</button>
        <button mat-raised-button class="float-right mr-3 indicator-form__delete-button" (click)="deleteIndicator()">Delete</button>
    </form>
</div>