.indicator-form-field--width {
    width: 98.5% !important;
}

.indicator-form__heading {
    font-size: 20px;
    font-weight: 400;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-transform: capitalize;
}

.indicator-form__delete-button {
    background-color: indianred;
    color: white;
}