<div class="ml-3 mt-2">
    <form [formGroup]="editInitiativeForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill" class="edit-initative-form-field--width">
            <mat-label>Initiative Name</mat-label>
            <input matInput type="text" formControlName="name">
        </mat-form-field>
        <br>
        <div class="edit-initiative-form-field-group d-flex">
            <mat-form-field appearance="fill" class="edit-initative-form-field--half-width mr-3">
                <mat-label>Initiative Lead</mat-label>
                <input matInput type="text" formControlName="leadName">
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill" class="edit-initative-form-field--half-width mr-3">
                <mat-label>Initiative Lead Email</mat-label>
                <input matInput type="text" formControlName="leadEmail">
            </mat-form-field>
            <br>
        </div>
        <div class="edit-initiative-form-field-group d-flex">
            <mat-form-field appearance="fill" class="edit-initative-form-field--half-width mr-3">
                <mat-label>Start Year</mat-label>
                <input matInput type="text" formControlName="startYear">
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill" class="edit-initative-form-field--half-width mr-3">
                <mat-label>End Year</mat-label>
                <input matInput type="text" formControlName="endYear">
            </mat-form-field>
            <br>
        </div>
        <mat-form-field appearance="fill" class="edit-initative-form-field--width">
            <mat-label>Statement</mat-label>
            <textarea matInput type="text" formControlName="endYear"></textarea>
        </mat-form-field>

        <button mat-raised-button class="float-right mr-3" type="submit">Save</button>
    </form>
</div>